.button {
  border-radius: 12px;
  cursor: pointer;
}

.primary {
  background-color: white;
  color: black;
  border: 4px solid black;
}

.secondary {
  background-color: black;
  color: white;
  border: 4px solid black;
}

.alert {
  background-color: orange;
  color: black;
  border: 4px solid black;
}

.warning {
  background-color: red;
  color: black;
  border: 4px solid orange;
}
