:root {
  /* Color Variables */
  --main-black: rgb(12, 12, 24);
  --pink-accent: rgb(230, 20, 72);

  /* Size Variables */
  --small-gap: 4px;
  --medium-gap: 8px;
  --large-gap: 16px;
  --xl-gap: 32px;

  /* Border Radius */
  --rounded-border: 8px;
}

*,
html,
body {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zalando Sans Expanded", sans-serif;
  color: white;
}

body {
  background-color: var(--main-black);
}

.animate-transition {
  transition: 0.25s;
}
